<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="AUDIT_LOG_APPENDER" value="${AUDIT_LOG_OUTPUT:-CONSOLE}_AUDIT" />
    <property name="STDOUT_LOG_APPENDER" value="${STDOUT_LOG_OUTPUT:-CONSOLE}_STDOUT" />

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="SYSLOG_AUDIT" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>pensjon-selvbetjening-opptjening-backend</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <appender name="CONSOLE_AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d, %-5p, %c:%L, %t] AUDIT - %mdc %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="AUDIT_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="${AUDIT_LOG_APPENDER}"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="${STDOUT_LOG_APPENDER}"/>
    </root>
</configuration>
